<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.MyProject.mapper.BoardMapper">
 
 	<!-- 글 작성 -->
    <insert id="enroll">
        
        insert into MyProject_board(title, content, writer, appear) values (#{title}, #{content}, #{writer}, 1)
        
    </insert>
    
     <!-- 글 목록 -->
    <select id="getList" resultType="com.MyProject.model.BoardVO">
    
        select * from MyProject_board
    
    </select>
    
    <!-- 글 조회 -->
    <select id="getPage" resultType="com.MyProject.model.BoardVO">
    
        select * from MyProject_board where num = #{num}
    
    </select>
    
    <!-- 글 수정 -->
    <update id="modify">
        
        update MyProject_board set title = #{title}, content = #{content}, updatedate = now() where num = #{num}
    
    </update>
    
    <!-- 글 삭제 -->
    <update id="setAppear">
    
        update MyProject_board set appear = 0 where num = #{num}
    
    </update>
    
 
  </mapper>