<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.MyProject.mapper.BoardMapper">
 
 	<!-- 글 작성 -->
    <insert id="enroll">
        
        insert into MyProject_board(title, content, writer, appear) values (#{title}, #{content}, #{writer}, 1)
        
    </insert>
    
     <!-- 글 목록 -->
    <select id="getList" resultType="com.MyProject.model.BoardVO">
    
        select * from MyProject_board
    
    </select>
    
    <!-- 글 조회 -->
    <select id="getPage" resultType="com.MyProject.model.BoardVO">
    
        select * from MyProject_board where num = #{num}
    
    </select>
    
    <!-- 글 수정 -->
    <update id="modify">
        
        update MyProject_board set title = #{title}, content = #{content}, updatedate = now() where num = #{num}
    
    </update>
    
    <!-- 글 삭제 -->
    <update id="setAppear">
    
        update MyProject_board set appear = 0 where num = #{num}
    
    </update>
     
    <!-- 페이징된 글 목록 -->
    <select id="getListPaging" resultType="com.MyProject.model.BoardVO">
    
		select * from (
                select num, title, writer, regdate, updatedate  
                from MyProject_board 
                <if test="keyWord != null">
                    <include refid="criterion"></include>
                </if>
                 order by num desc) as T1
        limit #{skip},#{listCount}
    
    </select>
    
    <!-- 검색된 글 갯수
   	<select id="getTotal" resultType="int">
    
        select count(*) from MyProject_board   
        <if test="keyWord != null">
            where title like concat('%',#{keyWord},'%')
        </if>
    
   	 </select>-->
   	 
   	 <!-- 게시물 총 갯수 -->
    <select id="getTotal" resultType="int">
    
        select count(*) from MyProject_board
        
        <if test="keyWord != null">
            <include refid="criterion"></include>
        </if>    
    
    </select> 
   	 
   	 <!-- 검색 조건문 -->
    <sql id="criterion">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like concat('%',#{keyWord},'%') and appear = 1
                        </when>
                        <when test="type == 'C'.toString()">
                            content like concat('%',#{keyWord},'%') and appear = 1
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like concat('%',#{keyWord},'%' ) and appear = 1
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    
    </sql>
 
 
     
 
  </mapper>